body{
    background-image:url(kepek/hatter.avif);
    background-size: cover;
}

img {
    width: 100px;
    margin: 50px;
    margin: auto;
    
}

article {
    position: relative;
    justify-content: center;
    text-align: center;
}
